In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

import webbrowser as wb
website = wb.open = 'https://en.wikipedia.org/wiki/NFL_win-loss_records'
wb.get('firefox %s').open(website)

True

untuk ngubah browsernya pake jupyter notebook --generate-config di terminal terus ubah webbrowsernya

In [8]:
nfl_frame = pd.read_clipboard()
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7.0,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West

In [10]:
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied ', u'Pct. ',
       u'First NFL Season ', u'Total Games ', u'Division'],
      dtype='object')

In [23]:
nfl_frame.columns

Index([u'Rank ', u'Team ', u'Won ', u'Lost ', u'Tied ', u'Pct. ',
       u'First NFL Season ', u'Total Games ', u'Division'],
      dtype='object')

In [24]:
nfl_frame['Rank ']

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     7.0
7     8.0
8     9.0
9    10.0
Name: Rank , dtype: float64

In [25]:
DataFrame(nfl_frame,columns=['Team ', 'First NFL Season ','Total Games '])

                      Team   First NFL Season  Total Games
0           Dallas Cowboys                1960         860
1        Green Bay Packers                1921       1,320
2            Chicago Bears                1920       1,354
3           Miami Dolphins                1966         784
4  New England Patriots[b]                1960         868
5          New York Giants                1925       1,289
6           Denver Broncos                1960         868
7        Minnesota Vikings                1961         854
8         Baltimore Ravens                1996         336
9      San Francisco 49ers                1950         986

In [26]:
DataFrame(nfl_frame,columns=['Team ', 'First NFL Season ','Total Games ','Stadium '])

                      Team   First NFL Season  Total Games   Stadium
0           Dallas Cowboys                1960         860        NaN
1        Green Bay Packers                1921       1,320        NaN
2            Chicago Bears                1920       1,354        NaN
3           Miami Dolphins                1966         784        NaN
4  New England Patriots[b]                1960         868        NaN
5          New York Giants                1925       1,289        NaN
6           Denver Broncos                1960         868        NaN
7        Minnesota Vikings                1961         854        NaN
8         Baltimore Ravens                1996         336        NaN
9      San Francisco 49ers                1950         986        NaN

In [27]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7.0,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West

In [30]:
#2datapertama
nfl_frame.head(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North

In [31]:
#3data terakhir
nfl_frame.tail(3)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West

In [32]:
#mengikuti index
nfl_frame.ix[3]

Rank                               4
Team                 Miami Dolphins
Won                              439
Lost                             341
Tied                               4
Pct.                           0.563
First NFL Season                1966
Total Games                     784
Division                    AFC East
Name: 3, dtype: object

In [34]:
nfl_frame['Stadium '] = "Stadium A"
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East,Stadium A
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,Stadium A
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,Stadium A
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,Stadium A
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,Stadium A
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,Stadium A
6,7.0,Denver Broncos,465,393,10,0.541,1960,868,AFC West,Stadium A
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,Stadium A
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,Stadium A
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,Stadium A

In [35]:
nfl_frame['Stadium '] = np.arange(10)
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East,0
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,1
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,2
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,3
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,4
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,5
6,7.0,Denver Broncos,465,393,10,0.541,1960,868,AFC West,6
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,7
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,8
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,9

In [38]:
stadiums = Series(['Stadium A','Stadium B'],index=[9,0])
stadiums

9    Stadium A
0    Stadium B
dtype: object

In [39]:
nfl_frame['Stadium '] = stadiums
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division,Stadium
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East,Stadium B
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North,NaN
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North,NaN
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East,NaN
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East,NaN
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East,NaN
6,7.0,Denver Broncos,465,393,10,0.541,1960,868,AFC West,NaN
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North,NaN
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North,NaN
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West,Stadium A

In [40]:
#buat delete kolom
del nfl_frame['Stadium ']
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Division
0,1.0,Dallas Cowboys,511,367,1,0.582,1960,860,NFC East
1,2.0,Green Bay Packers,730,553,37,0.567,1921,"1,320",NFC North
2,3.0,Chicago Bears,744,568,42,0.565,1920,"1,354",NFC North
3,4.0,Miami Dolphins,439,341,4,0.563,1966,784,AFC East
4,5.0,New England Patriots[b],476,383,9,0.554,1960,868,AFC East
5,6.0,New York Giants,684,572,33,0.543,1925,"1,289",NFC East
6,7.0,Denver Broncos,465,393,10,0.541,1960,868,AFC West
7,8.0,Minnesota Vikings,457,387,10,0.541,1961,854,NFC North
8,9.0,Baltimore Ravens,181,154,1,0.540,1996,336,AFC North
9,10.0,San Francisco 49ers,522,450,14,0.537,1950,986,NFC West

In [41]:
data = {'City':['Klaten','Jogja','Solo'],'POpulasi':[87600,78300,39999]}
city_frame = DataFrame(data)
city_frame

     City  POpulasi
0  Klaten     87600
1   Jogja     78300
2    Solo     39999