In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn
ser = Series(randn(6),index =[[1,1,1,2,2,2],['a','b','c','a','b','c']])
ser

1  a    0.282929
   b    0.015320
   c    0.342492
2  a   -0.790214
   b    0.548174
   c    0.035501
dtype: float64

In [4]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [5]:
ser[1]

a    0.282929
b    0.015320
c    0.342492
dtype: float64

In [6]:
ser[2]

a   -0.790214
b    0.548174
c    0.035501
dtype: float64

In [7]:
ser

1  a    0.282929
   b    0.015320
   c    0.342492
2  a   -0.790214
   b    0.548174
   c    0.035501
dtype: float64

In [8]:
ser[:,'a']

1    0.282929
2   -0.790214
dtype: float64

In [9]:
dframe = ser.unstack()

In [10]:
dframe

          a         b         c
1  0.282929  0.015320  0.342492
2 -0.790214  0.548174  0.035501

In [11]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
dframe2.index.names = ['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [20]:
dframe2.sum(level='Temp',axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27