In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [2]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [3]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [5]:
ser3 = Series(['USA','Meksiko','Canada'],index=[0,5,10])
ser3

0         USA
5     Meksiko
10     Canada
dtype: object

In [6]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [7]:
ser3.reindex(ranger,method='ffill')

0         USA
1         USA
2         USA
3         USA
4         USA
5     Meksiko
6     Meksiko
7     Meksiko
8     Meksiko
9     Meksiko
10     Canada
11     Canada
12     Canada
13     Canada
14     Canada
dtype: object

In [12]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','E'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.829287 -0.670274  0.725015 -0.896886 -2.143310
B  2.223809 -0.034536 -0.381970 -0.975057  0.049856
C  0.879933 -0.536931 -1.786185 -0.764168 -2.257481
D -0.526094 -1.713972  0.943269 -0.950356 -2.555950
E -0.791363  0.094982 -0.566798  0.165286 -0.227376

In [14]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.829287 -0.670274  0.725015 -0.896886 -2.143310
B  2.223809 -0.034536 -0.381970 -0.975057  0.049856
C  0.879933 -0.536931 -1.786185 -0.764168 -2.257481
D -0.526094 -1.713972  0.943269 -0.950356 -2.555950
E -0.791363  0.094982 -0.566798  0.165286 -0.227376
F       NaN       NaN       NaN       NaN       NaN

In [16]:
new_columns = ['col1','col2','col3','col4','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col4      col5  col6
A  1.829287 -0.670274  0.725015 -0.896886 -0.896886 -2.143310   NaN
B  2.223809 -0.034536 -0.381970 -0.975057 -0.975057  0.049856   NaN
C  0.879933 -0.536931 -1.786185 -0.764168 -0.764168 -2.257481   NaN
D -0.526094 -1.713972  0.943269 -0.950356 -0.950356 -2.555950   NaN
E -0.791363  0.094982 -0.566798  0.165286  0.165286 -0.227376   NaN
F       NaN       NaN       NaN       NaN       NaN       NaN   NaN

In [17]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col4      col5  col6
A  1.829287 -0.670274  0.725015 -0.896886 -0.896886 -2.143310   NaN
B  2.223809 -0.034536 -0.381970 -0.975057 -0.975057  0.049856   NaN
C  0.879933 -0.536931 -1.786185 -0.764168 -0.764168 -2.257481   NaN
D -0.526094 -1.713972  0.943269 -0.950356 -0.950356 -2.555950   NaN
E -0.791363  0.094982 -0.566798  0.165286  0.165286 -0.227376   NaN
F       NaN       NaN       NaN       NaN       NaN       NaN   NaN