In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

ser1 = Series(np.arange(3),index=['A','B','C'])

A    0
B    1
C    2
dtype: int64

In [5]:
ser1 = 2*ser1
ser1

A     0
B     8
C    16
dtype: int64

In [6]:
ser1['B']

8

In [7]:
ser1[1]

8

In [8]:
ser1[0:3]

A     0
B     8
C    16
dtype: int64

In [9]:
ser1[['A','B']]

A    0
B    8
dtype: int64

In [11]:
ser1[ser1>8]

C    16
dtype: int64

In [13]:
ser1[ser1>3] = 10
ser1

A     0
B    10
C    10
dtype: int64

In [17]:
dframe = DataFrame(np.arange(25).reshape((5,5)),index=['Adgard','Skrim','Turki','USA',"Indo"],columns=['a','b','c','d','e'])
dframe

         a   b   c   d   e
Adgard   0   1   2   3   4
Skrim    5   6   7   8   9
Turki   10  11  12  13  14
USA     15  16  17  18  19
Indo    20  21  22  23  24

In [19]:
dframe['b']

Adgard     1
Skrim      6
Turki     11
USA       16
Indo      21
Name: b, dtype: int64

In [20]:
dframe > 10

            a      b      c      d      e
Adgard  False  False  False  False  False
Skrim   False  False  False  False  False
Turki   False   True   True   True   True
USA      True   True   True   True   True
Indo     True   True   True   True   True

In [23]:
#satu kolom
dframe.ix['Indo']

a    20
b    21
c    22
d    23
e    24
Name: Indo, dtype: int64

In [24]:
dframe.ix[1]

a    5
b    6
c    7
d    8
e    9
Name: Skrim, dtype: int64