In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
#series kayak array di numpy tapi dia punya datalabel

obj = Series([3,6,9,12]) 
#ini kayak np.array gitu
obj

0     3
1     6
2     9
3    12
dtype: int64

In [2]:
obj.values

array([ 3,  6,  9, 12])

In [3]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
ww2_cas = Series([8700000,4300000,3000000,2100000,4000000],index=['USSR','Jerman','Cina','Jepang','USA'])
ww2_cas

USSR      8700000
Jerman    4300000
Cina      3000000
Jepang    2100000
USA       4000000
dtype: int64

In [6]:
ww2_cas['USA']

4000000

In [7]:
#cek country mana yang lebih besar dari 4 mill
ww2_cas[ww2_cas>4000000]

USSR      8700000
Jerman    4300000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'Cina': 3000000,
 'Jepang': 2100000,
 'Jerman': 4300000,
 'USA': 4000000,
 'USSR': 8700000}

In [11]:
ww2_series = Series(ww2_dict)
ww2_series

Cina      3000000
Jepang    2100000
Jerman    4300000
USA       4000000
USSR      8700000
dtype: int64

In [13]:
country = ['Cina','Jerman','Jepang','USA','ussr','asgard']
obj2 = Series(ww2_dict,index=country)
obj2

Cina      3000000.0
Jerman    4300000.0
Jepang    2100000.0
USA       4000000.0
ussr            NaN
asgard          NaN
dtype: float64

In [18]:
pd.isnull(obj2)
#ngecek mana yang null

Cina      False
Jerman    False
Jepang    False
USA       False
ussr       True
asgard     True
dtype: bool

In [17]:
pd.notnull(obj2)
#mana yang nggak null

Cina       True
Jerman     True
Jepang     True
USA        True
ussr      False
asgard    False
dtype: bool

In [20]:
ww2_series

Cina      3000000
Jepang    2100000
Jerman    4300000
USA       4000000
USSR      8700000
dtype: int64

In [21]:
obj2

Cina      3000000.0
Jerman    4300000.0
Jepang    2100000.0
USA       4000000.0
ussr            NaN
asgard          NaN
dtype: float64

In [22]:
ww2_series + obj2

Cina      6000000.0
Jepang    4200000.0
Jerman    8600000.0
USA       8000000.0
USSR            NaN
asgard          NaN
ussr            NaN
dtype: float64

In [25]:
obj2.name = 'Wolrd War 2'
obj2

Cina      3000000.0
Jerman    4300000.0
Jepang    2100000.0
USA       4000000.0
ussr            NaN
asgard          NaN
Name: Wolrd War 2, dtype: float64

In [26]:
#dikasih label
obj2.index.name = 'Country'
obj2

Country
Cina      3000000.0
Jerman    4300000.0
Jepang    2100000.0
USA       4000000.0
ussr            NaN
asgard          NaN
Name: Wolrd War 2, dtype: float64